<form id="profileform" action="/profile-info" method="POST">
<legend>Edit Profile Info</legend>
    <label for="fullname">Full name:</label>
    <input type="text" id="fullname" name="fullname" value="" placeholder="Full Name" required>

    <label for="birthdate">Date of Birth:</label>
    <div id="birthdate">
        <select class="dob" type="select" name="month" value="" required>
            <option value="jan" disabled selected hidden aria-hidden="true">Month</option>
            <option value="1">Jan</option>
            <option value="2">Feb</option>
            <option value="3">Mar</option>
            <option value="4">Apr</option>
            <option value="5">May</option>
            <option value="6">Jun</option>
            <option value="7">Jul</option>
            <option value="8">Aug</option>
            <option value="9">Sept</option>
            <option value="10">Oct</option>
            <option value="11">Nov</option>
            <option value="12">Dec</option>
        </select>
        <input class="dob" type="number" name="day" value="" min="1" max="31" placeholder="Day (29)">
        <input class="dob" type="number" name="year" value=""
        placeholder="Year (2000)" min="1900" max="2018" required>
    </div>

    <label for="gendergroup">Gender:</label>
    <div id="gendergroup">
        <label>
            <input type="radio" name="gender" value="male" required> Male
            <span class="radio"></span>
        </label>
        <label>
            <input type="radio" name="gender" value="female"> Female
            <span class="radio"></span>
        </label>
        <label>
            <input type="radio" name="gender" value="other"> Other
            <span class="radio"></span>
        </label>
        
    </div>

    <label for="location">Location:</label> 
    <input id="location" type="text" name="location" placeholder="Location">

    <label for="hobbies">Hobbies:</label>
    <textarea id="hobbies" type="text-area" name="hobbies" value=""></textarea>
    <button class="halfbtn positive" type="submit" value="Submit">Submit</button><button type="button" class="halfbtn caution" onclick="cancel(event, this)">cancel</button>
</form> 

<script>
    function edit(el) {
        var editForm = document.getElementById('profileform');
        editForm.style.display = "block";
        el.style.display = "none";
    }
    function cancel(e, el) {
        e.preventDefault();
        var editForm = document.getElementById('profileform');
        var editBtn = document.getElementsByClassName('editprofile-btn')[0];
        editForm.style.display = "none";
        editBtn.style.display = "block";
        this.display = "none";
    }
</script>