<h1>{{ title }}</h1>
<article>
    <h2>The Project</h2>
    <p>Sensum is a personal electronic diary that allows the user to ‘speak’ diary entries to it as opposed to the classic style of pen and paper. With each diary entry made, the voice file is converted to text using Watson Speech-to-Text, which is then analyzed by IBM’s Personality Insight and Tone Analyzer. The results of the analysis are visually represented on both the physical diary’s screen - when the diary is closed - and this website.</p>
    <p>The various weather aspects symbolize the ‘Big Five’ personality traits:
Openness - Represented by the clouds. The cloudier the sky, the less open you are.
Neuroticism - Represented by thunder. The more frequent thunder appears, the greater one’s neuroticism.
Conscientiousness - Represented by how windy it is (movement of clouds). High wind means low conscientiousness.
Extraversion - Represented by the rainbow. The rainbow is clearer if one is more extraverted.
Agreeableness - Represented by the sun. A bigger, clearer sun equates to a high agreeableness score.</p>


</article>
<article>
    <h2>The Team</h2>
    <div class="block block--team">
        <img src="img/team/mike.jpg" alt="Team member Mike">
        <h3>Mike Holbrook</h3>
        <p>Some info about Mike</p>
    </div>
    <div class="block block--team">
        <img src="img/team/sam.jpg" alt="Team member Sam">
        <h3>Sam Yip</h3>
        <p>Some info about Sam</p>
    </div>
    <div class="block block--team">
        <img src="img/team/simon.jpg" alt="Team member Simon">
        <h3>Simon Jarvis</h3>
        <p>Some info about Simon</p>
    </div>
</article>