<h1>{{ title }}</h1>
<article>
    <h2>The Project</h2>
    <p>Sensum is an electronic diary that allows you to speak to it rather than the classic
pen and paper method. Each diary entry is analysed to provide some insight into your
personality and feelings using IBM’s Personality Insight and Tone Analyzer, which is then
visualised on the physical diary itself as well as the website.</p>

    <p>The various colours each represent a different personality or feeling aspect. The background
colour is a representation of most recent, dominant feeling. Different coloured circles also
appear on the screen, expanding out before fading away. The colour of the circle represents
specific personality trait, with the rate in which the circles appear represent how strong that
personality is. The stronger that personality, the more frequently a circle of it’s colour will
appear.</p>
</article>
<article>
    <h2>The Team</h2>
    <div class="team__member">
        <h3>Mike Holbrook</h3>
        <p>Some info about Mike</p>
    </div>
    <div class="team__member">
        <h3>Sam Yip</h3>
        <p>Some info about Sam</p>
    </div>
    <div class="team__member">
        <h3>Simon Jarvis</h3>
        <p>Some info about Simon</p>
    </div>
</article>