<h1>{{ title }}</h1>
<article>
    <h2>The Project</h2>
    <p>Sensum is a personal electronic diary that allows the user to ‘speak’ diary entries to it as opposed to the classic style of pen and paper. With each diary entry made, the voice file is converted to text using Watson Speech-to-Text, which is then analyzed by IBM’s Personality Insight and Tone Analyzer. The results of the analysis are visually represented on both the physical diary’s screen - when the diary is closed - and this website.</p>
    <p><strong>The various weather aspects symbolize the ‘Big Five’ personality traits:</strong></p>
        <ul>
            <li><strong>Openness</strong> - Represented by the clouds. The cloudier the sky, the less open you are.</li>
            <li><strong>Neuroticism</strong> - Represented by thunder. The more frequent thunder appears, the greater one’s neuroticism.</li>
            <li><strong>Conscientiousness</strong> - Represented by how windy it is (movement of clouds). High wind means low conscientiousness.</li>
            <li><strong>Extraversion</strong> - Represented by the rainbow. The rainbow is clearer if one is more extraverted.</li>
            <li><strong>Agreeableness</strong> - Represented by the sun. A bigger, clearer sun equates to a high agreeableness score.</li>
        </ul>
</article>

<article>
    <h2>The Team</h2>
    <div class="block block--team">
        <img src="img/team/mike.jpg" alt="Team member Mike">
        <h3>Mike Holbrook</h3>
        <p>Some info about Mike</p>
        <h4>Role</h4>
        <p>Data Visualisation | Node JS | MongoDB</p>
    </div>
    <div class="block block--team">
        <img src="img/team/sam.jpg" alt="Team member Sam">
        <h3>Sam Yip</h3>
        <p>As someone who appreciates all technology in general, Sam enjoys digital design as well as games design, and has a particular interest in working with VR should the opportunity arise. In his spare time, he enjoys cooking as well as gaming.</p>
        <h4>Role</h4>
        <p>Designer | Arduino | Writer</p>
    </div>
    <div class="block block--team">
        <img src="img/team/simon.jpg" alt="Team member Simon">
        <h3>Simon Jarvis</h3>
        <p>Split between design and development Simon enjoys both passions creating the visual and functional - an aspiring web developer and graphic designer.<br><br>In his spare time, he enjoys gaming, tennis and archery.</p>
        <h4>Role</h4>
        <p>Node JS | MongoDB | Front-End</p>
    </div>
</article>