<!-- Input a button to show visualisation key -->
<article>
    <img class="logo__image" alt="" src="/img/logo.svg"/>
    <h1>Sensum Diary</h1>
</article>

<script src="/js/visualisation.js"></script>