
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END CSS RESET */

/*
Table of Contents:
    -Core Styles
    -Header
        -Navigation
    -Main Page
    -Footer 

*/

/* CORE */
html {
    height: 100%;
}

body {
    background: -webkit-radial-gradient(center, #f7f7f7 -0%, #e9e9e9 70%);
    background: -moz-radial-gradient(center, #f7f7f7 -0%, #e9e9e9 70%);
    background: -o-radial-gradient(center, #f7f7f7 -0%, #e9e9e9 70%);
    background: radial-gradient(center, #f7f7f7 -0%, #e9e9e9 70%);
    background-repeat:no-repeat;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}



canvas {
	padding: 0;
	user-select: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

h1 {
    color: #444;
    font-size: 2em;
    padding: 0 0 20px 0;
    text-transform: uppercase;
}

.home h1 {
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-size: 4em;
}

.home article {
    position: absolute;
    width: calc(100% - 105px);
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

.home main .logo__image {
    width: 100%;
    max-width: 200px;
    opacity: 0.4;
}

h2 {
    font-size: 1.75em;
    color: #444;
    padding: 0 0 20px 0;
}

h3 {
    font-size: 1.25em;
    color: #444;
    padding: 0 0 20px 0;
}

a {
    color: #fff;
}

p {
    padding: 10px 0;
}

.container {
    padding:20px;
    width: 100%;
}

/* Header */
header {
    position: fixed;
    top: 0px;
    border-right: 3px solid #dadada;
    height: 100%;
    width: 80px;
    transition: all .4s ease;
    background: rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

header:hover {
    width: 200px;
    background: rgba(255, 255, 255, 0.6);
}

header .logo {
    text-align: center;
    width: 100%;
    height: 140px;
}

header .logo__image {
    max-width: 100px;
    padding: 20px;
    width: calc(100% - 40px);
    position: relative;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

    /* Header / Navigation */
    nav ul {
        list-style: none;
    }
    
    nav a {
        color: #444;
        position: relative;
        text-decoration: none;
        padding: 20px 0 20px 20px;
        display: block;
        text-transform: uppercase;
        max-height: 40px;
        width: 180px;
    }

    nav a:hover, nav a:focus {
        background: rgba(255, 255, 255, 0.8);
    }

    nav .active a {
        background: rgba(255, 255, 255, 0.8);
        color: #444;
    }

    .navlink__text {
        display: inline-block;
        opacity: 0;
        padding-left: 15px;
        transition: opacity .4s ease;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    header.header--open  .navlink__text {
        opacity: 1;
    }

    nav .navlink__icon {
        width: 40px;
        height: 40px;
        display: inline-block;
    }

    nav .active {
        font-weight: bold;
    }

/* Main Page */
main {
    margin: 0 0 20px 83px;
    padding: 30px 20px 20px 20px;
    transition: margin .4s ease;
    width: calc(100% - 125px);
    overflow: hidden;
    max-width: 1300px;
}

.profile__block,
article {
    padding: 20px;
    float: left;
    width: calc(100% - 40px);
    margin: 10px 0;
}

.profile__block--tone,
.profile__block--sentiment {
    width: calc(50% - 40px);
    background: rgba(0,0,0,.1);
}
.profile__block--tone {
    padding-right: 20px;
}

.profile__block--personality {
    background: rgba(0,0,0,0.05);
}

.personality__block {
    float: left;
    padding: 20px 40px 20px 20px;
    width: calc(20% - 52px);
    background: rgba(0,0,0,0.05);
}

.team__member {
    float: left;
    padding: 20px;
    margin: 20px;
    width: calc(33% - 80px);
    background: rgba(0,0,0,.1);
}
/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: calc(100% - 105px);
    padding: 10px;
    text-align: center;
    margin-left: 83px;
}

@media (min-width:1080px){
    .personality__block:last-of-type {
        padding-right: 0;
    }    
}

@media (max-width:1080px) {
    .personality__block {
        width: calc(50% - 60px);
    }
}

@media (max-width:600px) {
    .personality__block {
        width: calc(100% - 60px);
    }
}