html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END CSS RESET */

/*
Table of Contents:
    - Core Styles
    - Header
        - Navigation
    - Main Page
    - History Table
    - Footer
    - Partials
    - Media Queries 

*/

/* CORE */
:focus {
    outline: 2px solid rgb(235, 118, 22);
}

html {
    height: 100%;
}

body {
    background: -webkit-radial-gradient(center, #f7f7f7 -0%, #e9e9e9 70%);
    background: -moz-radial-gradient(center, #f7f7f7 -0%, #e9e9e9 70%);
    background: -o-radial-gradient(center, #f7f7f7 -0%, #e9e9e9 70%);
    background: radial-gradient(center, #f7f7f7 -0%, #e9e9e9 70%);
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

body.home:after {
    content: "";
    display: block;
    background: radial-gradient(rgba(255, 255, 255,.9), rgba(255, 255, 255, 0.30));
    width: 100%;
    height: 100%;
    margin-top: -70px;
    position: absolute;
    z-index: -1;
}

strong {
    font-weight: bold;
}

canvas {
	padding: 0;
	user-select: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

h1 {
    color: rgba(221, 99, 0, 0.7);
    font-size: 2em;
    padding: 0 0 20px 0;
    text-transform: uppercase;
}

.home h1 {
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-size: 4em;
}

.home article {
    position: absolute;
    width: calc(100% - 105px);
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

.home main .logo__image {
    width: 100%;
    max-width: 200px;
    opacity: 0.4;
}

h2, legend {
    font-size: 1.75em;
    color: #444;
    padding: 0 0 20px 0;
}

h3 {
    font-size: 1.45em;
    color: #444;
    padding: 0 0 20px 0;
}

h4 {
    font-size: 1.25em;
    color: #fff;
    text-transform: uppercase;
}

a {
    color: #fff;
}

p {
    padding: 10px 0;
}

main ul li {
    list-style-type: disc;
    margin-left: 40px;
}

nav ul li {
    list-style-type: none;
}

article p, article ul li {
    font-size: 1.2em;
    color: #555;
}

article ul li {
    padding-bottom: 10px;
}

img {
    max-width: 100%;
}

blockquote {
    font-size: 1.2em;
    color: #333;
    padding: 40px;
    font-style: italic;
    background: #e0e0e0;
    text-align: center;
    border-radius: 5px;
}

.container {
    padding:20px;
    width: 100%;
}

input, select {
    margin-bottom: 30px;
    padding: 10px 10px;
    border: 0;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #4a4a4a;
}

#gendergroup label {
    width: calc(33.33% - 44px);
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 40px;
    line-height: 30px;
    margin-bottom: 30px;
}

.radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#gendergroup label:hover .radio {
    background-color: rgb(172, 172, 172);
}

#gendergroup label input[type="radio"]:checked ~ .radio {
    background-color: #5fa7e0;
}

.radio:after {
    content: "";
    position: absolute;
    display: none;
}

#gendergroup label input[type="radio"]:checked ~ .radio:after {
    display: block;
    top: 13px;
    left: 13px;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    transform: translateX(-52%) translateY(-54%);
    background: white;
}

#gendergroup label:last-child input[type="radio"]:checked ~ .radio:after {
    transform: translateX(-53%) translateY(-54%);
}

input[type="text"] {
    width: calc(100% - 20px);
}

textarea {
    width: calc(100% - 5px)!important;
    border-radius: 5px;
    min-height: 50px;
    max-height: 200px;
}

button, button[type="submit"] {
    position: relative;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: #555454;
    color: #fff;
    margin-bottom: 0px;
    margin-top: 20px;
    font-size: 1.2em;
}

button.editprofile-btn.smallbtn {
    margin-bottom: 0;
}

.dob {
    width: calc(33.33% - 18px);
    line-height: 17px;
}

button span, button[type="submit"] span { 
    z-index: 1;
}

button:not(.accordion):hover::before,
button[type="submit"]:not(.accordion):hover::before,
button:not(.accordion):focus::before,
button[type="submit"]:not(.accordion):focus::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    z-index: 0;
}

.largebtn {
    display: block;
    width: 100%;
    max-width: 465px;
    padding: 10px 20px;
    margin: 20px 0;
}
.smallbtn {
    display: block;
    padding: 10px 20px;
    margin: 20px 0;
    min-width: 150px;
}

.halfbtn {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    width: calc(50% - 5px);
}
.halfbtn:last-child {
    margin-right: 0;
}
.positive {
    background-color: #47a947!important;
    color: #444;
}

.caution {
    background-color: #f5aa21!important;
    color: #444;
}

.negative {
    background-color: #e04a4a!important;
}

.alert {
    background: rgba(255, 174, 174, 0.38)!important;
    border: 3px solid #e04a4a;
    padding: 20px;
    margin: 0 0 20px 0;
    color: #000;
}
/* Header */
header {
    position: fixed;
    top: 0px;
    border-right: 3px solid #dadada;
    height: 100%;
    width: 80px;
    transition: all .4s ease;
    background: rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

header:hover {
    width: 200px;
    background: rgba(255, 255, 255, 0.6);
}

header .logo {
    text-align: center;
    width: 100%;
    height: 140px;
}

header .logo__image {
    max-width: 100px;
    padding: 20px;
    width: calc(100% - 40px);
    position: relative;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

    /* Header / Navigation */
    nav ul {
        list-style: none;
    }
    
    nav a {
        color: #444;
        position: relative;
        text-decoration: none;
        padding: 20px 0 20px 20px;
        display: block;
        text-transform: uppercase;
        max-height: 40px;
        width: 180px;
    }

    nav a:hover, nav a:focus {
        background: rgba(255, 255, 255, 0.8);
    }

    nav .active a {
        background: rgba(255, 255, 255, 0.8);
        color: #444;
    }

    .navlink__text {
        display: inline-block;
        opacity: 0;
        padding-left: 15px;
        transition: opacity .4s ease;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    header.header--open  .navlink__text {
        opacity: 1;
    }

    nav .navlink__icon {
        width: 40px;
        height: 40px;
        display: inline-block;
    }

    nav .active {
        font-weight: bold;
    }

/* Main Page */
main {
    margin: 0 0 20px 83px;
    padding: 30px 20px 20px 20px;
    transition: margin .4s ease;
    width: calc(100% - 125px);
    overflow: hidden;
    max-width: 1300px;
}

.block {
    min-height: 180px;
}

.block,
article {
    padding: 20px;
    float: left;
    width: calc(100% - 40px);
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
}

article {
    padding-left: 0px;
}

.block--tone/* ,
.block--sentiment */ {
    width: calc(100% - 40px);
    margin-right: 20px;
    background: rgba(221, 99, 0, 0.7);
    border-radius: 5px;
}

.block--tone {
    padding-right: 20px;
    /* width: calc(66.66% - 50px); */
    width: calc(100% - 40px);
}
/* 
.block--sentiment {
    margin-right: 0;
    width: calc(33.33% - 50px);
} */

.block--personality {
    background: rgba(221, 99, 0, 0.7);
}

.block--tone h2,
/* .block--sentiment h2, */
.block--personality h2 {
    color: #fff;
}

.personality__block, .tone__block {
    float: left;
    padding: 20px 40px 20px 20px;
    width: calc(20% - 52px);
}

.tone__block {
    width: calc(14.28% - 52px);
}

.personality__block--container, .tone__block--container {
    border-radius: 5px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.4);
}

.block--team {
    position: relative;
    float: left;
    padding: 20px 20px 90px 20px;
    margin-right: 20px;
    width: calc(33% - 53px);
    min-height: 590px;
    background: rgba(221, 99, 0, 0.7);
    text-align: center;
}

.team--role {
    position: absolute;
    bottom: 0;
    width: calc(100% - 40px);
    margin-bottom: 20px;
}

.block--team h3 {
    margin-top: 20px;
    color: #fff;
    text-transform: uppercase;
}

.block--team p {
    color: #333;
}

.block--team:last-of-type {
    margin-right:0;
}

.block--team img {
    border-radius: 50%;
    max-width: 60%;
    border: 6px solid #fff;
    margin: 0 auto;
    display: block;
}

.block--user {
    padding-left: 0;
    background: #fbfbfb;
    padding: 20px;
    width: calc(100% - 40px);
    max-width: 650px;
    font-size: 1.25em;
}

.profile__item {
    margin-bottom: 10px;
}

.profile__label {
    display: inline-block;
    color: #444;
    min-width: 80px;
}

span.profile__value {
    color: #dd6300;
    text-transform: capitalize;
}

.block--diary-entry {
    padding-left: 0;
    width: 100%;
}


/* History Page */
.datablock {
    width: 100%;
    overflow: hidden;
    margin: 10px 0 30px 0;
    background: #e0e0e0;
    border: 2px solid #adadad;
    border-radius: 5px;
}

.diary-text {
    padding: 20px 10px;
}

.dataset {
    margin-bottom: 30px;
    overflow: hidden;
    border-bottom: 2px solid #dd8846;
}

.dataset:last-child {
    margin-bottom: 0;
    border:0;
}

.datablock .dataset--personality .col {
    float:left;
    width: 20%;
}

.datablock .dataset--tone .col {
    float:left;
    width: 14.285%;
}

.datablock .diary-text span {
    font-size: 1em;
    font-weight: bold;
}

.datablock h3  {
    padding-left: 10px;
}

.col .col__data {
    display: block;
    padding: 10px;
    font-weight: bold;
}

.col__data--title {
    background: rgba(221, 99, 0, 0.7);
    color: #fff;
    border-right:2px solid rgba(255, 255, 255, 0.1);
}

.dataset .col:last-child .col__data--title {
    border-right:0;
}

button.accordion {
    width: 100%;
    border-radius: 0;
    background: #dd8846;
    text-align: left;
    text-transform: uppercase;
    padding: 20px 70px 20px 20px;
    color: #fff;
    font-size: 1.25em;
    margin:0;
}

button.accordion:hover {
    background: #c2763c;
}

button.accordion.active {
    background: #a8a8a8;
    border-bottom: 2px solid #c2763c;
}

button.accordion:before {
    content: "";
    position: absolute;
    right: 0;
    transform: translateX(-50%);
    border-left: solid transparent;
    border-right: solid transparent;
    border-top: 0px solid #fff;
    border-bottom: solid transparent;
    border-width: 20px;
}
button.accordion.active:before {
    right: 0;
    transform: translateX(-50%) translateY(-50%);
    border-left: solid transparent;
    border-right: solid transparent;
    border-top: solid transparent;
    border-bottom: 0px solid #fff;
    border-width: 20px;
}

button.accordion:hover::before,
button.accordion:focus::before {
    right: 0;
    left: none;
}

.panel {
    display: none;
}

/* Footer */
footer {
    width: calc(100% - 105px);
    padding: 10px;
    text-align: center;
    margin-left: 83px;
}

.home footer {
    position: fixed;
    bottom: 0;
}

/* Partials */
#profileform, #resetform {
    display: none;
}

form {
    border-radius: 5px;
    padding: 20px;
    width: calc(100% - 45px);
    max-width: 650px;
    background: rgba(170, 170, 170, 0.27);
    border: 3px solid #b9b9b9;
    margin-bottom: 20px;
}

.block--user form {
    width: calc(100% - 45px);
}
/* Media Queries */

@media (min-width:1080px) {
    .personality__block:last-of-type {
        padding-right: 0;
    }    
}

@media (max-width:1200px) {
    .block--tone/* , .block--sentiment */ {
        width:calc(100% - 40px);
    }
    .tone__block {
        width: calc(33% - 60px);
    }
}

@media (max-width:1080px) {
    .personality__block {
        width: calc(50% - 60px);
    }

    .block--team {
        width: calc(50% - 60px);
    }
    
    .datablock .dataset--tone .col,
    .datablock .dataset--personality .col {
        width: 33.33%;
    }
}


@media (max-width:750px) {

    .block--team {
        width: calc(100% - 20px);
    }

    .datablock .dataset--personality .col {
        width: 50%;
    }
    .tone__block {
        width: calc(50% - 60px);
    }

}

@media (max-width:600px) {
    .personality__block {
        width: calc(100% - 60px);
    }
}

@media (max-width:550px) {
    .datablock .dataset--tone .col,
    .datablock .dataset--personality .col {
        width: 100%;
    }

    .block--tone/* , .block--sentiment */ {
        width: calc(100% - 40px);
        border-radius: 5px;
    }
    .tone__block {
        width: calc(100% - 60px);
    }
}
