body {
	margin: 0px;
	overflow: auto;
	
}
canvas {
	padding: 0;
	user-select: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}

#stopBtn {
	display: none;
}

#submitBtn {
	display: none;
}

h1 {
	color: red;
}