html{
	height: 100%;
}

body {
	margin: 0px;
	overflow: auto;
	background: -webkit-radial-gradient(center, #f7f7f7 -0%, #e9e9e9 70%);
    background: -moz-radial-gradient(center, #f7f7f7 -0%, #e9e9e9 70%);
    background: -o-radial-gradient(center, #f7f7f7 -0%, #e9e9e9 70%);
    background: radial-gradient(center, #f7f7f7 -0%, #e9e9e9 70%);
    background-repeat:no-repeat;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
	
}

canvas {
	padding: 0;
	user-select: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}

#stopBtn {
	display: none;
}

#submitBtn {
	display: none;
}

h1 {
	color: rgb(255, 115, 15);
	font-size: 2em;
	text-transform: uppercase;
}

main {
    position: relative;
    top: 50%;
	transform: translateY(-50%);
	margin-top: -20px;
}

#information {
    background: #c3c3c3;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px 20px;
	border-radius: 5px;
	position: relative;
}

#information::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    border-left: solid transparent;
    border-right: solid transparent;
    border-top: solid transparent;
    border-bottom: 0px solid #c3c3c3;
    border-width: 20px;
}

#transcript {
	max-width: 400px;
    min-width: 200px;
    background: rgba(0,0,0,.2);
    min-height: 100px;
    max-height: 400px;
    overflow-y: auto;
    margin: 20px auto;
    padding: 20px;
    width: calc(100% - 40px);
    border: 4px solid rgba(0,0,0,.2);
    vertical-align: middle;
    border-radius: 10px;
}

button {
    border: none;
    background: rgb(255, 115, 15);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 20px;
    border-radius: 5px;
    display: inline-block;
}

button:hover, button:focus {
	background: #dc5d03;
	cursor: pointer;
}

#dateContainer {
	color: rgba(0,0,0,.6);
	padding-right: 20px;
}

.logo {
	max-width: 100px;
	padding: 20px;
	opacity: .4;
}