<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script type="text/javascript" src="/js/scripts.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
    <!--{{#each css}}

        <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}-->
    <title>{{title}}</title>
</head>
<body class="{{#toLowerCase title}}{{/toLowerCase}}">
 
    <header>
        <div class="logo">
            <img class="logo__image" alt="" src="/img/logo.svg"/>
        </div>
        <nav role="navigation">
            <ul>
                <li {{#equals "Home" title}}class="active"{{/equals}}>
                    <a href="/">
                        <img class="navlink__icon" alt="" src="/img/home.svg"/>
                        <span class="navlink__text">Home</span>
                    </a>
                </li>
                <li {{#equals "Profile" title}}class="active"{{/equals}}>
                    <a href="/profile">
                        <img class="navlink__icon" alt="" src="/img/profile.svg"/>
                        <span class="navlink__text">Profile</span>
                    </a>
                </li>
                <li {{#equals "History" title}}class="active"{{/equals}}>
                    <a href="/history">
                        <img class="navlink__icon" alt="" src="/img/history.svg"/>
                        <span class="navlink__text">History</span>
                    </a>
                </li>
                <li {{#equals "About" title}}class="active"{{/equals}}>
                    <a href="/about">
                        <img class="navlink__icon" alt="" src="/img/about.svg"/>
                        <span class="navlink__text">About</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    
    <main>
        {{{ body }}}
    </main>
    
    <footer>
        Copyright Sensum Diary
    </footer>
    <script>
        menuAnimation();
    </script>
</body>
</html>